mixin skills(value)
    .skills
      .skills_label= "Уровень владения JavaScript"
      .skills-slider
        .skills-slider_pointer
        .skills-slider_scale
          .skills-slider_scale-one
          .skills-slider_scale-two
          .skills-slider_scale-three
        .skills-slider_text
          .skills-slider_text.skills-slider_text_no= "Не владею"
          .skills-slider_text.skills-slider_text_use= "Использую готовые решения"
          .skills-slider_text.skills-slider_text_edit!= "Использую готовые решения<br> и умею их переделывать"
          .skills-slider_text.skills-slider_text_write= "Пишу сложный JS с нуля"