mixin formData(name, year, town, skype, eMail)
  .form-data
  
    .form-data_line
      .form-data_left
        |Полное ФИО
      .form-data_right= name

    .form-data_line
      .form-data_left
        |Год рождения
      .form-data_right= year

    .form-data_line
      .form-data_left
        |Место жительства
      .form-data_right= town

    .form-data_line
      .form-data_left
        |Скайп
      .form-data_right= skype

    .form-data_line
      .form-data_left
        |Почта
      .form-data_right!= "<a href=\"mailto:"+eMail+"\">"+eMail+"</a>"